<!doctype html>
<div class="col-md-3">
	<div class="panel panel-default goal hoverable-panel">
		<div class="non-hover non-hover-div">
			<h4 class="text-center goal-square-name">
				<%= goal.goalName %>
			</h4>
			<img src="http://placehold.it/350X350" class="goal-icon center-block">
			<div class="progress">
				<div class="progress-bar" style="width: 0%;">
				</div>
			</div>
			<h4 class="text-center progress-amount">
				$<%= goal.saved %>/$<%= goal.price %>
			</h4>
		</div>
		<div class="hover-add hover-div">
			<button class="btn btn-default hover-btn-top">Open Goal</button>
			<button class="btn btn-default hover-btn-bottom addmode" href = "/goals/<%=goalID%>">Add $ to Goal</button>
			<button class="btn btn-default hover-btn-bottom purchasemode" style="display:none">Purchase</button>
		</div>
	</div>
</div>
