<!doctype html>
<html>
<head>
    <title>Craving Saving</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet.css">
    <link href='https://fonts.googleapis.com/css?family=Questrial|' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container" id="landing-wrapper">
        <div id="landing-content">
            <div class="text-center landing-content">
                <div id="landing-images">
                    <img id="landing-logo" src="images/logo.png">
                    <img id="landing-piggy" src="images/piggy-transparent.png">
                </div>
                <div id="landing-btn-row">
                    <a href="/login" id="login-btn" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
                    <a href="/signup" id="signup-btn" class="btn btn-default"><span class="fa fa-user"></span> Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
