#landing-logo{
	float:left;
	width: 60%;
}

#landing-piggy{
	width:40%;
	padding:40px;
	height:100%;
}

#landing-wrapper{
	position:relative;
	min-height:100vh;
	margin:0;
	padding:0;
	width:100%;
}

#landing-wrapper1{
	position:relative;
	min-height:100vh;
	margin:0;
	padding:0;
	width:100%;
	background-image: url("/images/dollar-background1.png");
	background-size: 300px 300px;
	background-repeat: repeat;
}

#landing-content{
	margin:0 auto;
	padding-bottom:150px
}

.landing-content{
	border:5px solid black;
	background-color: #E6FFFF;
	border-radius: 10px;
	margin: 50px auto 20px auto;
	padding:40px;
	width:80%;
	max-width:800px;
}

#landing-login{
	width:80%;
	max-width:450px;
}

#landing-footer:before {
    content: " ";
    display:block;
    position: relative;
    bottom:0;
    height:60px;
    background: linear-gradient(-45deg, transparent 75%, #B2EBF1 75%) 0 50%,
                linear-gradient( 45deg, transparent 75%, #B2EBF1 75%) 0 50%;
    background-repeat: repeat-x;
    background-size:60px 60px, 60px 60px;
}

#landing-footer{
	width:100vw;
	height:150px;
	position:absolute;
	bottom: 0;
	left: 0;
	background-image: url("/images/dollar-background1.jpg");
	background-repeat: repeat-x;
}

#page-content{
	margin-bottom: 40px;
	/*border: 1px solid black;*/
}

h1 {
	font-size: 50px;
}

.add-money-header h3{
	display:inline-block;
	font-size: 35px;
}
#tooltip-add-money{
	display:inline-block;
	margin-bottom: 13px;
	margin-left: 10px;
}

.tooltip-inner{
	font-size:18px;
	max-width:250px;
	padding-bottom:3px;
}

.form-control{
	display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 20px;
}

#edit-goal-name {
	height: auto;
	margin-left: 0px;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.form-group {
	font-size: 20px;
}

#login-btn, #signup-btn{
	text-align:center;
	width:200px;
	height:60px;
	font-size:23pt;
	margin:3px;
	/*background-color:#B2EBF1;*/
}

#window-wrapper{
	min-height:700px;
	border:1px solid black;
}
#left-window{
	height:100%;
	width:100%;
	border:3px solid black;
	border-radius:4px;
}
#right-window{
	height:100%;
	width:100%;
	border:3px solid black;
	border-radius:4px;
}
#left-col{
	height:90%;
	width:40%;
	position:absolute;
    display: inline-block;
	top:0%;
	left:2%;
	font-size:40px;
}
#right-col{
	height:90%;
	width:40%;
	position:absolute;
    display: inline-block;
	top:0%;
	right:2%;
	font-size:40px;
}
#arrow-block{
	display:inline-block;
	position:absolute;
	left:45.5%;
	padding-left:1px;
	top:40%;
}

#dollar-sign {
	font-size: 25px;
}
#transfer-arrow{
	position:absolute;
	margin-top:35px;
	height:190%;
	width:100%;
}
#transfer{
	width:75px;
	font-size: 25px;
}
#organize-button{
	display:inline-block;
	position:absolute;
	top:74%;
	left:45.5%;
}

#warning-transfer-money{
	display:inline-block;
	color:red;
	font-size:20px;
	position:absolute;
	left:43.5%;
	top:15%;
	width:12.5%;
	text-align:center;
}

#confirm-transaction-button {
	position: absolute;
    bottom: 1.5%;
    left: 90.4%;
}

#cancel-transaction-button {
	position: absolute;
    left: 81.8%;
    bottom: 1.5%;
}

.money{
	position:absolute;
	top:0px;
	left:0px;
	height: 80px;
/*	z-index:200;
*/}

.modal-dialog.add-money-dialog{
	margin: 15px auto;
	width:80%;
	min-width: 1150px;
	max-width: 1600px;
}

.footer-button-wrapper{
	float:right;
	margin-right:5%;
}

#drag-and-drop-wrapper{
	position:relative;
	height:510px;
}

.tab-pane {
	border: 3px solid black;
	background-color: #E6FFFF;
	padding: 20px;
	margin-top: -2px;
}

.nav-tabs {
	border-bottom: 3px black;
}

#myTab {
	z-index: 10;
}

.nav-tabs li a {
	width: 200px;
	border-top: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
	background-color: #C8DFDF;
	border-bottom: none;
	padding-bottom: 7px;

}

.nav-tabs li.active a {
	border-top: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
	background-color: #E6FFFF;
	border-bottom: none;
	padding-bottom: 10px;
}

.nav-tabs li a:hover {
	background-color: #E6FFFF;
	border-top: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-bottom: none;
}

.nav-tabs li.active a:hover {
	background-color: #E6FFFF;
	border-top: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-bottom: none;
}

.nav-tabs li.active a:focus {
	background-color: #E6FFFF;
	border-top: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-bottom: none;
}

.nav-tabs li a h4 {
	text-align: center;
	opacity: 0.7;
	font-size: 25px;
	color: black;
}

.nav-tabs li.active a h4 {
	opacity: 1;
}

.nav-tabs li a.hover h4 {
	opacity: 1;
}

#spend-now {
	font-size: 25px;
	margin-top: 10px;
}

.goal {
	padding: 10px;
	height: 300px;
}

.goal-icon {
	text-align: center;
	max-width:200px;
	max-height:200px;
}

.goal-icon > img {
	max-width:100%;
	max-height:100%;
}

.goal-pic {
	width: 390px;
}

#uploadPhotobox{
	height:200px;
	line-height:200px;
	text-align: center;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 4px;
}
#lightsaber{
	display:none;
	height:200px;
	text-align:center;
}

.glyphicon-plus-sign {
    font-size: 80px;
    padding-top: 70px;
}

.panel {
	border: 3px solid black;
}

#savings-account .goal {
	box-shadow: 0px 0px 5px 5px #B2EBF1;
	font-family: 'Chelsea Market', cursive;
}

.progress {
	height: 11px;
	position: relative;
	top: 4px;
	margin-left: 9px;
}

body {
	font-family: 'Questrial', sans-serif;
	background-color: #B2EBF1;
	margin:0;
	padding:0;
	height:100%;
}

#heading-row {
	padding: 20px 30px 20px 30px;
}

.available-funds {
	font-size: 40px;
}

.hover-add {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	opacity: 0;
	height:100%;
}

.btn {
	border: 2px solid black;
	font-size: 20px;
}

.btn:hover {
	border: 2px solid black;
}

.hover-btn-top, .hover-btn-bottom {
	display:block;
	margin: 43px auto;
	height: 100px;
	width: 200px;
	text-align:center;
	background-color: #E6FFFF;
}

.hover-btn-top {
	margin-bottom: 12px;
}

.hover-btn-bottom {
	margin-top: 0px;
}

.hover-btn-bottom:hover {
	background-color: #B2EBF1;
	border: 2px solid black;
}

.hover-btn-top:hover {
	background-color: #B2EBF1;
	border: 2px solid black;
}

.hover-btn-photo {
	height:100px;
	width:300px;
	margin: 137px 25px;
}

#logo {
    cursor: pointer;
	position: relative;
	height: 60px;
	width: 150px;
}

/*#makeEditable:focus{
    box-shadow: 0 0 2px blue;
    font-size: 50px;
    width: 350px;
    position: absolute;
    left: 30%;
    text-align: center;
    padding-bottom: 30px;
}
*/
/*#edit-goal-name, #goal-name {
    font-size: 50px;
    text-align:center;
    width: 500px;
    height: 80px;
}

#goal-name {
	background-color: #E6FFFF;
}

<<<<<<< HEAD
}*/

#goal-name, #edit-goal-name {
	font-size: 50px;
	text-align: center;
	margin-top: 30px;
}



#saving-name {
	font-size: 50px;
	font-family: 'Chelsea Market', cursive;
    text-align: center;
/*    width: 500px;
    height: 80px;*/
   	background-color: #E6FFFF;
   	margin-top: 0px;
}

.maingoal-bar {
	height: 50px;
	font-size: 20px;
	margin-right: 15px;
}

.maingoal-progress{
	font-size: 30px;
	padding-top: 15px;
}

.goal-info {
    width: 720px;
    position: relative;
    padding-left: 30px;
}

.goal-photobox {
	width: 400px;
	padding-right: 30px;
	position: relative;
}

#goal-photo-hover {
	position:absolute;
	bottom:10px;
	left:25px;
	height:120px;
	width:390px;
	background-color:white;
	opacity:0;
	font-size:30px;
	padding:40px;
	text-align:center;
}

/*.goal-amtedit {
	position: absolute;
	font-size: 40px;
	text-align: center;
	margin-top: 120px;
	word-spacing: 7px;
	left:31%;
	padding-top:10px;
}

.goal-amt{
	position: absolute;
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    word-spacing: 7px;
    left: 33%;
}*/

.goal-amt, .goal-amtedit {
	padding-top: 40px;
	font-size: 40px;
}



.goal-btns {
	position: center;
	text-align: center;
	padding-top: 60px;
}

#add-to-savings, #add-money-to-goal-btn, #purchase-goal-btn{
/*	background-color: #FFC64C !important;
*/	font-size: 26px;
/*	color: black;
*/}



#delete-goal-btn {
	float: right;
	margin-right: 25px;
}

#editgoal-progress {
	text-align: center;
	font-size: 30px;
	padding-top: 15px;
}

.progress-amount {
	position: relative;
	top: -12px;
}

#progress-text{
	position: absolute;
	display: block;
    width: 100%;
    color: gray;
}

#save-btns{
	position: relative;
	left: 100%;
}

#spend-now-btn {
	width: 180px;
	margin-right: 20px;
}

#logout-btn {
	font-size:20px;
	height:54px;
}

.progress-row-btn {
	margin-top: 3px;
	margin-left: 7px;
	margin-right: 7px;
}

#return-to-goals-btn {
	float: right;
	margin-right: 10px;
}

.edit-goal-btn {
	margin-left: 5px;
}
.save-goal {
	margin-left:5px;
}
.goal-img {
	margin-bottom: 10px;
	margin-right: 30px;
	margin-left: 10px;
}

#new-goal {
	border: 3px solid black;
	padding: 10px;
	height: 300px;
	width: 100%;
}

.non-hover-div .bottom {
	margin-top: 0px;
}
#goal-header {
	padding-left: 15px;
}

.goalname-input {
    text-align:center;
/*     left:44%;
    position: absolute;
*/}

.back-wrapper {
	padding-bottom: 15px;
}

/*.back-btn {
	width: 70px;
	height: 40px;
}*/

.progress-bar {
	color: black;
}

.progress-bar-text {
	padding-left: 10px;
}

.square-text {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.square-title {
	font-weight: bold;
	letter-spacing: -.5px;
}

/*.goal-square-name {
	margin-top: 0px;
}

.progress-amount {
	margin-top: 10px;
}*/

#edit-goal-btn {
	float: right;
	margin-right: 15px;
}

#back {
	margin-left: 25px;
}

#back-img {
	width: 50px;
}

.add-new-goal-text {
	font-size: 20px;
}

#back-edit-row {
	margin-bottom: 10px;
	margin-top: -5px;
}

.glyphicon-remove, .glyphicon-edit, .glyphicon-cog, .glyphicon-camera {
	top: .15em;
}

#empty-savings-btn {
	float: right;
	margin-right: 15px;
}

#saving-name {
	margin-top: 30px;
}

#add-to-savings-row {
	padding-top: 40px;
}

.edit-progress-row-btn {
	float: right;
	width: 100px;
}

.edit-progress {
	width: 103%;
}

#goal-price {
	display: inline-block;
	height: auto;
	font-size: 40px;
	width: 130px;
}

#save-btn {
	margin-right: 10px;
}

#page-content {
	margin-top: 15px;
}

.history-table {
	font-size: 20px;
}

tr {
   height: 80px;
   vertical-align: middle;
}

.history-img {
	padding-left: 20px;
	height: 70px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

th.history-table-icon {
	width: 50px;
}

#header-row-1 > th {
	border-bottom: 0px;
	padding-bottom: 0px;
}

#header-row-1 {
	height: 35px;
}

#header-row-2 > th {
	border-top: 0px;
	vertical-align: top;
	padding-top: 4px;
}

#available-funds-th {
	text-align: right;
	padding-right: 70px;
}

.red-text {
	color: red;
}

.green-text {
	color: green;
}

.blue-text {
	color: blue;
}

.history-table-date {
	width: 13%;
}

.history-table-icon {
	width: 7%;
}

.history-table-event {
	width: 50%;
}

.history-table-change {
	width: 11%;
}

.history-table-balance {
	width: 15%;
}
